{% extends "layout.html" %}
{% block content %}
{% for item in cart %}
<p>{{ item.product.name }}</p>
<p>{{ item.product.price }}</p>
<p> <a href="{{ url_for('edit_cart', id=item.id, operation='decrease') }}">-</a> {{ item.quantity }} <a href="{{ url_for('edit_cart', id=item.id, operation='increase') }}">+</a></p>
<img src="../static/product_pics/{{ item.product.photo_name }}" alt="">
<a href="{{ url_for('edit_cart', id=item.id, operation='remove') }}">Remove</a>
{% endfor %}
<p>Total - {{ total }}</p>
<a href="{{ url_for('checkout') }}">Check Out!</a>
{% endblock content %}