{% extends "layout.html" %}
{% block content %}
<div class="container" style="margin-top: 10px;">
    <div class="carousel carousel-slider center">
        <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h4>Latest deals on Mobiles!!</h4>
    </div>
    {% for product in products %}
        <a href="{{ url_for('show_product', id=product.id) }}">
            <div class="col s12 m6 l3 hoverable black-text">
                <img class="responsive-img" src="../static/product_pics/{{ product.photo_name }}" alt="">
                <p>{{ product.name }}</p>
                <p>₹ {{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
        </a>
    {% endfor %}
    <div class="col s12 right-align" style="padding-top: 10px;">
        <a href="{{ url_for('products') }}" class="waves-effect waves-light btn purple" >View ALL!<i class="material-icons right">send</i></a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h4>Latest deals on Laptops!!</h4>
    </div>
    {% for product in products %}
        <a href="{{ url_for('show_product', id=product.id) }}">
            <div class="col s12 m6 l3 hoverable black-text">
                <img class="responsive-img" src="../static/product_pics/{{ product.photo_name }}" alt="">
                <p>{{ product.name }}</p>
                <p>₹ {{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
        </a>
    {% endfor %}
    <div class="col s12 right-align" style="padding-top: 10px;">
        <a href="{{ url_for('products') }}" class="waves-effect waves-light btn purple" >View ALL!<i class="material-icons right">send</i></a>
    </div>
</div>
{% endblock content %}