<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/toasts.css') }}">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Tech HUB</title>
        {% endif %}
    </head>
    <body>
        <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal" id="nav">
                <div style="padding: 0px 10px;">
                    <a href="{{ url_for('home') }}" class="brand-logo">Tech HUB</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if current_user.is_authenticated %}
                            {% if session['role'] == 'customer' %}
                                <li>
                                    <form action="{{ url_for('search') }}" method="POST">
                                        <div class="input-field">
                                          <input id="search" type="search" name="search" required>
                                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                          <i class="material-icons">close</i>
                                        </div>
                                    </form>
                                </li>
                                <li><a href="{{ url_for('products') }}">Products</a></li>
                                <li><a href="{{ url_for('orders') }}">My Orders</a></li>   
                                <li><a href="{{ url_for('cart') }}">Cart</a></li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ url_for('seller_dashboard') }}">Dashboard</a></li>
                                <li><a href="{{ url_for('seller_history') }}">History</a></li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        </div>
          <ul class="sidenav" id="mobile-demo">
            {% if current_user.is_authenticated %}
                {% if session['role'] == 'customer' %}
                    <li>
                        <form action="{{ url_for('search') }}" method="POST">
                            <div class="input-field">
                              <input id="search" type="search" name="search" required>
                              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                              <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    <li><a href="{{ url_for('orders') }}">My Orders</a></li>   
                    <li><a href="{{ url_for('cart') }}">Cart</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('seller_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('seller_history') }}">History</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
        <div class="container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div class="materialert {{category}}">
                            <div class="material-icons">{{category}}</div>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
            $(document).ready(function() {
                $('input#input_text, textarea#textarea2').characterCounter();
            });
            $(document).ready(function(){
                $('input.autocomplete').autocomplete({
                data: {
                    "customer": null,
                    "seller": null
                },
                });
            });
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true,
            }, setTimeout(autoplay, 3000));
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            }
        </script>
    </body>
</html>