{% extends "layout.html" %}
{% block content %}
<div class="row container">
    <div class="col s12 ">
        <form method="POST" action="" class="col s12">
            {{ form.hidden_tag() }}
                <center>
                    <h2>Add Product</h2>
                </center>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.name.errors %}
                    <i class="material-icons prefix">filter_list</i>
                    {{ form.name(class="materialize-textarea validate") }}
                    {% for error in form.name.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">filter_list</i>
                    {{ form.name(class="materialize-textarea validate") }}
                    {% endif %}
                    {{ form.name.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.description.errors %}
                    <i class="material-icons prefix">description</i>
                    {{ form.description(class="materialize-textarea validate") }}
                    {% for error in form.description.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">description</i>
                    {{ form.description(class="materialize-textarea validate") }}
                    {% endif %}
                    {{ form.description.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.price.errors %}
                    <i class="material-icons prefix">attach_money</i>
                    {{ form.price(class="validate") }}
                    {% for error in form.price.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">attach_money</i>
                    {{ form.price(class="validate") }}
                    {% endif %}
                    {{ form.price.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.quantity.errors %}
                    <i class="material-icons prefix">label</i>
                    {{ form.quantity(class="validate") }}
                    {% for error in form.quantity.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">label</i>
                    {{ form.quantity(class="validate") }}
                    {% endif %}
                    {{ form.quantity.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        {% if form.photo.errors %}
                        {{ form.photo(class="validate") }}
                        {% for error in form.photo.errors %}
                        <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                        {% endfor %}
                        {% else %}
                        <div class="btn">
                          <span>Photo</span>
                          {{ form.photo }}
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row right-align">
                    <hr>
                    {{ form.add_product(class="btn waves-light black") }}
                </div>
        </form>
    </div>
</div>
{% endblock content %}