{% extends "layout.html" %}
{% block content %}
<div class="container z-depth-3" style="padding-bottom: 10px;">
        <form method="POST" action="" class="col s12 container">
            {{ form.hidden_tag() }}
                <center>
                    <h1>Join Today</h1>
                </center>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.username.errors %}
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.username(class="validate") }}
                    {% for error in form.username.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.username(class="validate") }}
                    {% endif %}
                    {{ form.username.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.email.errors %}
                    <i class="material-icons prefix">email</i>
                    {{ form.email(class="validate") }}
                    {% for error in form.email.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">email</i>
                    {{ form.email(class="validate") }}
                    {% endif %}
                    {{ form.email.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.role.errors %}
                    <i class="material-icons prefix">supervisor_account</i>
                    {{ form.role(class="autocomplete") }}
                    <span class="helper-text" data-success="right">customer, seller</span>
                    {% for error in form.role.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">supervisor_account</i>
                    {{ form.role(class="autocomplete") }}
                    <span class="helper-text" data-success="right">customer, seller</span>
                    {% endif %}
                    {{ form.role.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.password.errors %}
                    <i class="material-icons prefix">vpn_key</i>
                    {{ form.password(class="validate") }}
                    {% for error in form.password.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">vpn_key</i>
                    {{ form.password(class="validate") }}
                    {% endif %}
                    {{ form.password.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    {% if form.confirm_password.errors %}
                    <i class="material-icons prefix">vpn_key</i>
                    {{ form.confirm_password(class="validate") }}
                    {% for error in form.confirm_password.errors %}
                    <span class="helper-text red-text" data-error="{{error}}" data-success="right">{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <i class="material-icons prefix">vpn_key</i>
                    {{ form.confirm_password(class="validate") }}
                    {% endif %}
                    {{ form.confirm_password.label }}
                    </div>
                </div>
                {{ form.submit(class="btn waves-light deep-orange") }}
            <hr>
            <p>
            Already Have An Account? <a class="waves-effect waves-light btn deep-orange" href="{{ url_for('login') }}">Sign In</a>
            </p>
        </form>
</div>
{% endblock content %}