{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h4 class="center-align">Search results for "{{ query }}"</h4>
    </div>
    {% for product in products %}
        <a href="{{ url_for('show_product', id=product.id) }}">
            <div class="col s12 m6 l4 hoverable black-text center-align" style="height: 400px;">
                <img class="responsive-img" src="{{ url_for('static', filename='/product_pics/' + product.photo_name) }}" alt="">
                <p>
                    {{ product.name[0:30] }}
                    {% if product.name|length > 30 %}
                    ...
                    {% endif %}
                </p>
                <p>₹ {{ product.price }}</p>
                <p>
                    {{ product.description[0:40] }}
                    {% if product.description|length > 40 %}
                    ...
                    {% endif %}
                </p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}