{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h3>Dashboard</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card-panel blue white-text">
            <div class="row">
                <div class="col s6 m6">
                    <i class="material-icons " style="font-size: 9em;">format_list_bulleted</i>
                </div>
                <div class="col s6 m6 right-align">
                    <p><h3>{{ no_of_products }}</h3></p>
                    <p><h5>All Products</h5></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card-panel deep-orange darken-1 white-text">
            <div class="row">
                <div class="col s6 m6">
                    <i class="material-icons " style="font-size: 9em;">shopping_cart</i>
                </div>
                <div class="col s6 m6 right-align">
                    <p><h3>{{ no_of_orders }}</h3></p>
                    <p><h5>All Orders</h5></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row right-align">
    <a class="waves-effect waves-light btn deep-purple darken-1" href="{{ url_for('new_product') }}">Add Product</a>
</div>
<table class="highlight centered responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.name[0:30] }}
                    {% if product.name|length > 30 %}
                    ...
                    {% endif %}
                </td>
                <td>
                    {{ product.description[0:40] }}
                    {% if product.description|length > 40 %}
                    ...
                    {% endif %}
                </td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td><a href="{{ url_for('update_product', id = product.id) }}" class="waves-effect waves-light btn green"><i class="material-icons">edit</i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if graph %}
<div class="row">
    <div class="col s12 center-align">
        <h4>Plot of no of Orders(y) vs Day(x)</h4>
    </div>
</div>
<canvas id="canvas" style="width: 100%; margin: 20px 0px;"></canvas>
<script>
    var canvas = document.getElementById('canvas'),
		context = canvas.getContext('2d'),
		width = canvas.width = 800,
		height = canvas.height = 400;
    var graph = {{ graph }};
    context.translate(0, height);
    context.scale(1, -1);
    context.fillStyle = '#f6f6f6';
    context.fillRect(0, 0, width, height);
    var left = 0, prev_point = 0, move_left_by = 100;
    for(point in graph) {
        the_stat = graph[point];
        context.beginPath();
        context.moveTo(left, prev_point);
        context.lineTo(left+move_left_by, the_stat*50);
        context.lineWidth = 5;
        context.lineCap = 'round';
        if(the_stat < graph[point-1]) {
            context.strokeStyle = '#c0392b';
        } else {
            context.strokeStyle = '#3b3b3b';
        }
        context.stroke();
        prev_point = the_stat*50;
        left += move_left_by;
    }
</script>
{% endif %}
{% endblock content %}