{% extends "layout.html" %}
{% block content %}
    <div class="row" style="padding-top: 20px;">
        <div class="col s12 m6 l6 center-align">
            <img class="responsive-img" src="../static/product_pics/{{ product.photo_name }}" alt="">
        </div>
        <div class="col s12 m6 l6">
            <p><h3>{{ product.name }}</h3></p>
            <p><h5>₹ {{ product.price }}</h5></p>
            <p>{{ product.description }}</p>
            <p>Sold By :- <a href="{{ url_for('seller_products', id=seller.id) }}" class="waves-effect waves-light btn teal">{{ seller.username }}</a></p>
            {% if product.quantity %}
                <form action="{{ url_for('add_to_cart', id = product.id) }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form.quantity.label(class="") }}
                            {{ form.quantity(class="validate") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <a href="{{ url_for('products') }}" class="waves-effect waves-light btn black" ><i class="material-icons left">arrow_back</i>Back</a>
                        </div>
                        <div class="col s6">
                            {{ form.addToCart(class="btn black") }}
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="form-group">
                    <button class="waves-effect waves-light btn red" disabled="disabled">Sold Out</button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}